<div class="todos-wrapper">
  <div class="container">

   <div class="todos-wrapper__todo-item completed">
     <div class="todos-wrapper__todo-item__checkbox">
       <i class="material-icons-outlined">check</i>
     </div>
     <p class="todos-wrapper__todo-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, repellendus?</p>
   </div>

    <div class="todos-wrapper__todo-item">
     <div class="todos-wrapper__todo-item__checkbox">
       <i class="material-icons-outlined">check</i>
     </div>
     <p class="todos-wrapper__todo-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores dolorum eum in mollitia odio perferendis totam ullam vel voluptatem.</p>
   </div>

  </div>
</div>
