.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background: url('https://images.unsplash.com/photo-1511497584788-876760111969?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTY1NzUyNTg0Nw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920') no-repeat fixed center center;

  .top-section {
    text-align: center;
    padding: 1rem 0;

    &__time {
      font-size: 6rem;
      color: #f9f9f9;
      font-weight: 700;
      text-shadow: 0 1px 5px rgba(#000, .4);
    }

    &__date {
      font-size: 1.75rem;
      color: #f9f9f9;
      text-shadow: 0 1px 5px rgba(#000, .4);
    }
  }

  .content-section {
    min-height: 0;
    flex-grow: 1;
  }

  .bottom-section {
    display: flex;

    app-tabs {
      margin: 0 auto;
    }
  }
}

