<div class="notes-wrapper">
  <div class="container">
    <div class="notes-wrapper__list">

      <div class="notes-wrapper__list__card">
        <div class="notes-wrapper__list__card__title">Note title</div>
        <div class="notes-wrapper__list__card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, pariatur!</div>
      </div>

      <div class="btn-container btn-center">
        <a routerLink="add" class="btn add-btn">
          <i class="material-icons-outlined">add</i>
          Add
        </a>
      </div>
    </div>
  </div>
</div>
